body,
html {
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  padding: 0px;
}

.header h2 {
  margin: 10px 0px;
  cursor: pointer;
}

.products-list {
  padding: 0px;
}

.product {
  border: 1px solid #bfbeb2;
  border-radius: 4px;
  box-shadow: 0.5px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 7px;
  margin: 20px;
}

.desc-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
}

.shopping-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 10px;
}

.products-section {
  flex-grow: 0.8;
}

.cart-total {
  flex-grow: 0.15;
}
